.container {
  width: 70%;
  margin: 0 auto auto;
  text-align: center;
}
.kinguu {
  text-align: center;
  display: inline-block;
  margin-left: 40%;

}

.dice {
  text-align: center;
  display: inline-block;

}
.btn1{
  margin-left: 46.88%;
  margin-right:50%;
  border-radius: 10px;
  border-width: 2px;
  border-color: Red;
  color: white;
  background-color: #ba0048;
  height: 3em;


}
.btn{
  margin-left: 46.88%;
  margin-right:50%;
  border-radius: 10px;
  border-width: 2px;
  border-color: Red;
  color: white;
  background-color: #ba0048;

}
body {
  background-color: #393E46;
  margin-top: 0;
}

h1 {
  margin: 0 30px 10px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 3%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
